.classes--list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.classes--list__item {
  text-align: center;
  flex-basis: calc((100% - 60px) / 4);
  h3 {
    margin-bottom: 20px;
  }
  img {
    max-width: 100%;
  }
}

