.price--table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price--block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 2 * 20px) / 2);
  padding: 10px;
  margin: 10px;
  border: 3px solid #c3d194;
  color: #c3d194;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 20px) / 4);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 8 * 20px) / 8);
  }
}

.price--block:nth-child(1) {
  color: #87dd78;
  border: 3px solid #87dd78;
}

.price--block:nth-child(2) {
  color: #e2b78f;
  border: 3px solid #e2b78f;
}

.price--block:nth-child(3) {
  color: grey;
  border: 3px solid grey;
}

.price--block:nth-child(4) {
  color: #6f9fad;
  border: 3px solid #6f9fad;
}

.price--block:nth-child(6) {
  color: #b6b6b6;
  border: 3px solid #b6b6b6;
}

.price--block:nth-child(7) {
  color: #8fe2c1;
  border: 3px solid #8fe2c1;
}

.price--block:nth-child(8) {
  color: #9ea1d7;
  border: 3px solid #9ea1d7;
}

.price--block:nth-child(9) {
  color: #b6b6b6;
  border: 3px solid #b6b6b6;
}

.price--block:nth-child(10) {
  color: #e2b78f;
  border: 3px solid #e2b78f;
}

.price--block:nth-child(11) {
  color: grey;
  border: 3px solid grey;
}

.price--block:nth-child(12) {
  color: #6f9fad;
  border: 3px solid #6f9fad;
}

.price--block:nth-child(13) {
  color: #b6b6b6;
  border: 3px solid #b6b6b6;
}

.price--block:nth-child(14) {
  color: #6f9fad;
  border: 3px solid #6f9fad;
}

.price--block:nth-child(15) {
  color: #9ea1d7;
  border: 3px solid #9ea1d7;
}

.price--block:nth-child(16) {
  color: #87dd78;
  border: 3px solid #87dd78;
}

.price--name {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.price--value {
  font-size: 30px;
}
